<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForOutput</title>
</head>
<body>
    <h1>Calculation Result</h1>
    <h2>The result is: {{ result }}</h2> 
    <button>  <a href="/" style="text-decoration: none">GoBack BABY</a></button>


    <script>
        setTimeout(function() {
            window.location.href = "/"; 
        }, 10000);
    </script>


</body>


<style>
    body {
        color: white;
        background-color: black;
    }
</style>

</html>


